.agrovet-slider {
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1240px;
}

.agrovet-slider + * {
  margin-top: 2rem;
}

.agrovet-slider img {
  width: 100%;
  padding: 30px;
  align-items: center;
  cursor: grab;
}

.agrovet-slider h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.agrovet-slider p {
  margin-top: -15px;
  text-align: center;
  line-height:  35px;
  font-size: 18px;
  color: #4A4A4A;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

.divider {
  display: inline-block;
  width: 13%;
  height: 3px;
  margin-bottom: 30px;
  background-color: rgb(255, 89, 0);
  border-radius: 50%;
}

.slider-container {
  padding: 24px;
  background: linear-gradient(0deg, #fff 10%, #6bc46c, #fff 90%);
}

.img-logos {
  min-width: 250px;
  min-height: 250px;
}

@media screen and (max-width: 480px) {
  .agrovet-slider h1 {
    font-size: 28px;
  }

  .agrovet-slider p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .divider {
    width: 30%;
    height: 3px;
  }

  .agrovet-slider img {
    padding: 8px;
    /* object-fit: contain; */
  }

  .slider-container {
    padding: 2px;
    height: auto;
    background: #fff;
  }

  .img-logos {
    min-width: 90px;
    min-height: 90px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .slick-slide {
    padding: 0 10px;
  }
}