* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  border: 1px solid green;
  background: url(/banner.jpg) center/cover no-repeat;
  max-height: 100vh;
}

@media screen and (max-width: 480px) {
  .app {
    background-size: center;
    background-position: top;
  }
}
